<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.gameforgamers">
    <application android:allowBackup="true" android:label="GameForGamers" android:supportsRtl="true" android:theme="@style/Theme.GameForGamers">
        <activity android:name=".CartActivity" android:exported="false"/>
        <activity android:name=".GameDetailActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".RegisterActivity" android:exported="false"/>
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>